#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% if _zookeeper_environment %}

{%   for key, value in (_zookeeper_environment | dictsort) %}
{{ key }}={{ value | quote }}
{%   endfor %}
{% endif %}
