#jinja2: trim_blocks: True, lstrip_blocks: True

{% macro zookeeper_format_option(option, value) -%}
{% if value is bool %}
{{ option }}={{ value | string | lower }}
{% elif value is list %}
{{ option }}={{ v | join(',') }}
{% elif value is mapping %}
{%   for o, v in (value | dictsort) %}
{{ option }}.{{ zookeeper_format_option(o, v) -}}
{%   endfor %}
{% else %}
{{ option }}={{ value | string }}
{% endif %}
{% endmacro -%}
